In [2]:
import pandas as pd

## DIct of lists:

In [4]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

## Sets:

In [7]:
pd.DataFrame(
    (1,2,3,4),
    (5,6,7,8)
)

   0
5  1
6  2
7  3
8  4

## List of lists:

In [22]:
pd.DataFrame(
    [
        [1,2,3],
        [4,5,6]
    ]
)

   0  1  2
0  1  2  3
1  4  5  6

## List of Dicts:

In [27]:
pd.DataFrame(
   [
       {'a':1},
       {'b':2},
       
   ]
)

     a    b
0  1.0  NaN
1  NaN  2.0

## Dict of Dicts:

In [31]:
pd.DataFrame(
    {
    'A':{"a":1, "b":2},
    'B':{"a":3, "d":4},
    'C':{"c":5, "d":5}
    })

     A    B    C
a  1.0  3.0  NaN
b  2.0  NaN  NaN
d  NaN  4.0  5.0
c  NaN  NaN  5.0